@font-face {
  font-family: "allura-regular";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto-light";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background: rgb(42, 42, 42);
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  top: 0;
  left: 0;
  -webkit-animation: animBefore 1.5s forwards;
          animation: animBefore 1.5s forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  min-height: 600px;
}
header nav {
  padding-top: 20px;
  color: white;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}
header nav h3 {
  font-family: allura-regular, sans-serif;
  font-size: 2rem;
}
header nav ul {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.6rem;
  transition: 0.5ms;
}
header nav ul li:hover {
  cursor: pointer;
  transform: scale(1.05);
}
header .main-header {
  padding-top: 70px;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
}
header .main-header h3 {
  font-family: allura-regular, sans-serif;
  color: rgba(189, 144, 46, 0.699);
  font-size: 2.5rem;
}
header .main-header h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  padding-bottom: 20px;
}
header .main-header h4 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
  padding-top: 20px;
}
header .main-header img {
  height: 30px;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
}
.section1 .left {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dotted rgba(193, 146, 46, 0.918);
  text-align: center;
  justify-content: center;
}
.section1 .left h3 {
  font-family: allura-regular, sans-serif;
  color: rgba(193, 146, 46, 0.918);
  font-size: 1.5rem;
}
.section1 .left h4 {
  font-family: poppins-medium, serif;
  padding-bottom: 15px;
}
.section1 .left img {
  height: 25px;
}
.section1 .left p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section1 .left #avatar {
  height: 30px;
  border-radius: 25px;
}
.section1 .left #russel {
  padding-bottom: 0;
}
.section1 .left h5 {
  color: rgba(128, 128, 128, 0.598);
  padding-bottom: 20px;
}
.section1 .right {
  background: url(/assets/img/store-01.jpg) center/cover;
}

.section2 {
  position: relative;
  margin-bottom: 200px;
}
.section2 .section2-content {
  max-width: 60%;
  margin: 0 auto;
}
.section2 .section2-content h4 {
  padding: 35px 0;
  text-align: center;
  font-family: allura-regular, sans-serif;
  font-size: 2rem;
  color: rgba(193, 146, 46, 0.918);
}
.section2 .section2-content #plate {
  height: 25px;
  display: block;
  margin: 0 auto;
}
.section2 .section2-content .nav2 {
  padding-top: 20px;
  width: 85%;
  margin: 0 auto;
}
.section2 .section2-content .nav2 ul {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: roboto-light, sans-serif;
  font-size: 0.8rem;
}
.section2 .section2-content .nav2 ul li {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}
.section2 .menus {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: rgb(238, 238, 238);
  padding: 20px 0 10px;
  border-top: 4px solid rgba(193, 146, 46, 0.918);
}
.section2 .menus .plats {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img p2 price" "img p price";
  font-family: roboto-light, sans-serif;
  align-items: center;
  border-bottom: 1px dotted #000;
  margin: 0 15px;
}
.section2 .menus .plats img {
  height: 65%;
  border-radius: 30px;
  grid-area: img;
}
.section2 .menus .plats h5 {
  font-size: 1rem;
  grid-area: p2;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding-top: 15px;
  padding-left: 15px;
}
.section2 .menus .plats p {
  padding-left: 15px;
  grid-area: p;
  font-size: 0.8rem;
  padding-bottom: 15px;
}
.section2 .menus .plats h4 {
  grid-area: price;
  font-size: 1rem;
}
.section2::after {
  position: absolute;
  content: "";
  background: url(/assets/img/bg-menu-01.jpg);
  background-size: 100%;
  height: 60%;
  width: 100%;
  bottom: -50px;
  z-index: -2;
}

.section3 {
  width: 75%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 30% 70%;
  background: #000;
}
.section3 .reservation-left {
  padding: 10px;
  margin: 20px;
  border: 1px dotted #fff;
  text-align: center;
}
.section3 .reservation-left h5 {
  font-family: allura-regular, sans-serif;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 1.5rem;
  color: rgba(193, 146, 46, 0.918);
}
.section3 .reservation-left h4 {
  font-family: poppins-medium, serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #fff;
}
.section3 .reservation-left img {
  height: 30px;
}
.section3 .reservation-left .dates h4 {
  padding: 30px 0 10px;
  color: rgba(193, 146, 46, 0.918);
  font-family: roboto-light, sans-serif;
  font-weight: 700;
}
.section3 .reservation-left .dates p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}
.section3 .reservation-left h6 {
  padding: 20px 0 15px;
  font-size: 1rem;
  color: rgba(193, 146, 46, 0.918);
}
.section3 .reservations-right {
  text-align: center;
  background: #fff;
}
.section3 .reservations-right h4 {
  padding-top: 80px;
  font-family: allura-regular, sans-serif;
  color: rgba(193, 146, 46, 0.918);
  font-size: 2.5rem;
}
.section3 .reservations-right h3 {
  font-family: poppins-medium, serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 35px;
}
.section3 .reservations-right img {
  height: 30px;
}

.section4 .title {
  text-align: center;
}
.section4 .title h4 {
  padding-top: 50px;
  font-family: allura-regular, sans-serif;
  color: rgba(193, 146, 46, 0.918);
  font-size: 2rem;
}
.section4 .title h3 {
  text-transform: uppercase;
  font-family: poppins-medium, serif;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 35px;
}
.section4 .events {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 55% 45%;
}
.section4 .events .events-left {
  margin-right: 10px;
}
.section4 .events .left-top {
  margin-bottom: 10px;
}
.section4 .events .events-left-content {
  display: grid;
  grid-template-columns: 30% 70%;
}
.section4 .events .events-left-content .elcl {
  background: url(/assets/img/event-01.jpg) center/cover;
  align-items: center;
  position: relative;
}
.section4 .events .events-left-content .elcl .elcl-content {
  color: #fff;
  position: absolute;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 10px 15px;
  font-family: roboto-light, sans-serif;
}
.section4 .events .events-left-content .elcl .elcl-content h4 {
  font-size: 1rem;
}
.section4 .events .events-left-content .elcl .elcl-content p {
  font-size: 0.6rem;
}
.section4 .events .elcr {
  background: #fff;
}
.section4 .events .elcr h4 {
  padding: 10px 30px 20px;
  font-family: roboto-light, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.section4 .events .elcr p {
  padding-left: 25px;
  font-family: roboto-light, sans-serif;
  font-size: 0.8rem;
  color: grey;
  font-weight: 500;
}
.section4 .events .elcr h5 {
  font-family: roboto-light, sans-serif;
  padding: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}
.section4 .events .events-right {
  background: url(/assets/img/event-03.jpg);
  padding: 20px;
}
.section4 .events .events-right .events-right-content {
  background: #fff;
  height: 100%;
  position: relative;
}
.section4 .events .events-right .events-right-content .erct {
  position: absolute;
  top: 0;
  left: 50%;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  font-family: roboto-light, sans-serif;
  transform: translateX(-50%);
}
.section4 .events .events-right .events-right-content .ercc {
  padding-top: 25%;
}
.section4 .events .events-right .events-right-content .ercc h4 {
  font-family: roboto-light, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 45%;
  text-align: center;
  padding-bottom: 20px;
}
.section4 .events .events-right .events-right-content .ercc p {
  font-family: roboto-light, sans-serif;
  font-size: 0.8rem;
  color: grey;
  font-weight: 500;
  text-align: center;
  padding-bottom: 15px;
}
.section4 .events .events-right .events-right-content .ercc h5 {
  font-family: roboto-light, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.section5 {
  position: relative;
}
.section5 .citations {
  width: 70%;
  margin: 150px auto;
  background: #fff;
}
.section5 .citations:before {
  content: url(/assets/img/avatar-02.jpg);
  top: -15%;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-80%);
  height: 30px;
  scale: 50%;
}
.section5 .citations p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: roboto-light, sans-serif;
  line-height: 35px;
}
.section5 .citations h4 {
  font-size: 1.5rem;
  color: rgb(42, 42, 42);
  font-family: roboto-light, sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
.section5 .citations h5 {
  color: rgba(193, 146, 46, 0.918);
  text-align: center;
  padding-bottom: 50px;
  font-size: 1rem;
  font-weight: 500;
}
.section5::after {
  position: absolute;
  content: "";
  background: url(/assets/img/gmap.jpg);
  background-size: 100%;
  height: 100%;
  width: 100%;
  bottom: -200px;
  z-index: -2;
}

footer {
  margin-top: 200px;
  background: url(/assets/img/bg-footer.jpg);
  width: 100%;
}
footer .footer-content {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-left {
  margin: 50px 0;
}
footer .footer-left h4 {
  font-family: allura-regular, sans-serif;
  color: rgba(193, 146, 46, 0.918);
  font-size: 2.5rem;
}
footer .footer-left p {
  color: #fff;
  margin-top: 20px;
  font-family: roboto-light, sans-serif;
  line-height: 25px;
  font-size: 0.8rem;
}
footer .footer-right {
  margin-top: 50px;
  margin-left: 55px;
}
footer .footer-right h4 {
  text-transform: uppercase;
  color: #fff;
  font-family: poppins-medium, serif;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .footer-right input {
  background: transparent;
  border: 0.2px solid rgba(193, 146, 46, 0.918);
  padding: 5px;
  padding-left: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
footer .footer-right .follow {
  display: flex;
}
footer .footer-right .follow ul {
  display: flex;
  width: 35%;
  justify-content: space-around;
  color: grey;
}/*# sourceMappingURL=index.css.map */